header{
    padding: 10px 0;
    background-color: #80b435;
    .logo{
        width: 60%;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
    nav{
        width: 100%;
        background-color: unset !important;
        border: unset !important;
        margin-bottom: unset !important;
        
        ul{
            display: flex;
            justify-content: flex-end;
            width: 100%;
           
            li{
               margin-left: 2px;
                a{
                    color: white !important;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 400;
                    
                }
                a:hover{
                    color: antiquewhite;
                    border-bottom: 2px solid white;
                }
                
            }
        }
         .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
            
            background-color: unset !important;
        }
        input{
            max-width: 400px;
            float: right;
            animation-name: inputsearch;
            animation-duration: 3s;
            
        }
        @keyframes inputsearch {
           0%{
               width: 0;
           }
           100%{
               width: 100%;
           }
        }
       
    }
    
}
main{
    .top-main{
        .bg{
            img{
                width: 100%;
                height: auto;
            }
        }
        .dieuhuong{
            position: absolute;
            
            left: 50%;
            margin-top: -5em;
            span{
                color: white;
            }
            a{
                color: white;
                font-size: 16px;
            }
        }
    }
    .product{
        h3{
            margin-left: 1em;
        }
        .top-pro{
            display: flex;
            justify-content: space-between;
            .loghe{
                margin-right: 1em;
                margin-top: 1em;
                display: flex;
                justify-content: flex-end;
                select{
                    height: 40px;
                }
                button{
                    height: 40px;
                    
                    padding: 0 10px;
                    border-radius: 4px;
                }
            }
        }
        
    }
    .main-product{
        margin-top: 1em;
        .item-product{
            margin-top: 0.5em;
            padding: 2px;
            border: 1px solid #C2C2C2;
            .info{
                padding: 10px 0;
                text-align: center;
                border-top:0.5px solid #C2C2C2;
                h5{
                    text-transform: uppercase;
                }
                a{
                    color: brown;
                }
                a:hover{
                    text-decoration: none;
                }
            }
        }
        .item-product:hover{
            box-shadow: 0.5px 0.3px 0.3px 0.3px #A0A0A0;
        }
        ul.pagination{
        
         width: 100%;
         display: flex;
         justify-content: center;
         top: 2em;
         position: relative;
         
        }
    }
}
footer{
    margin-top: 2em;
    background-color: #80b435; 
    padding: 2em 0 2em 0;
        ul{
            margin-top: 1em;
            li{
                margin-top: 12px;
                list-style: none;
                span{
                    color: white;
                    
                }
                h3{
                    color: white;
                }
            }
        
    }
}


@media only screen and (max-width: 320px) { 
    header {

            .logo {
                width: 40%;
                height: auto;
            }
            .navbar{
               
                margin-top: -3em;
                
            }
            .navbar-nav{
               
               
                display: flex;
                flex-wrap: wrap;
            }
    }
    main{
        .top-main{
            .dieuhuong{
                left: 2em ;
                margin-top: 3em;
                a{
                    color: black;
                    font-size: 13px;
                    
                }
                span{
                    font-size: 10px;
                    color: black;
                }
            }
        }
        .product {
            margin-top: 7em;
            .top-pro{
                h3{
                    font-size: 14px;
                }
            }
        }
    }
    

}


@media only screen and (max-width: 375px) { 
    header {

            .logo {
                width: 40%;
                height: auto;
            }
            .navbar{
               
                margin-top: -3em;
                
            }
            .navbar-nav{
               
               
                display: flex;
                flex-wrap: wrap;
            }
    }
   

}

@media only screen and (max-width: 425px) { 
    header {

            .logo {
                width: 40%;
                height: auto;
            }
            .navbar{
               
                margin-top: -3em;
                
            }
            .navbar-nav{
               
               
                display: flex;
                flex-wrap: wrap;
            }
    }
    main{
        .top-main{
            .dieuhuong{
                left: 2em ;
                margin-top: 3em;
                a{
                    color: black;
                    font-size: 13px;
                    
                }
                span{
                    font-size: 10px;
                    color: black;
                }
            }
        }
        .product {
            margin-top: 7em;
            .top-pro{
                h3{
                    font-size: 14px;
                }
            }
        }
    }
    

}

@media only screen and (max-width: 768px) { 
   
    header {

        .logo {
            width: 40%;
            height: auto;
        }
        .navbar-nav{
           
           
            display: flex;
            flex-wrap: wrap;
        }
    }
   
}

@media only screen and (max-width: 1024px) { 
   
    header {

        .logo {
            width: 50%;
            height: auto;
        }
        .navbar-nav{
           
           
            display: flex;
            flex-wrap: wrap;
        }
    }
    
}
