header {
  padding: 10px 0;
  background-color: #80b435;
}

header .logo {
  width: 60%;
  height: auto;
}

header .logo img {
  width: 100%;
  height: auto;
}

header nav {
  width: 100%;
  background-color: unset !important;
  border: unset !important;
  margin-bottom: unset !important;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

header nav ul li {
  margin-left: 2px;
}

header nav ul li a {
  color: white !important;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

header nav ul li a:hover {
  color: antiquewhite;
  border-bottom: 2px solid white;
}

header nav .navbar-nav > .active > a, header nav .navbar-default .navbar-nav > .active > a:focus, header nav .navbar-default .navbar-nav > .active > a:hover {
  background-color: unset !important;
}

header nav input {
  max-width: 400px;
  float: right;
  -webkit-animation-name: inputsearch;
          animation-name: inputsearch;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes inputsearch {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes inputsearch {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

main .top-main .bg img {
  width: 100%;
  height: auto;
}

main .top-main .dieuhuong {
  position: absolute;
  left: 50%;
  margin-top: -5em;
}

main .top-main .dieuhuong span {
  color: white;
}

main .top-main .dieuhuong a {
  color: white;
  font-size: 16px;
}

main .products {
  margin-top: 3em;
}

main .products .item-img img {
  width: 100%;
}

main .products .item-info h3.title {
  font-size: 20px;
  margin: 0 0 10px 0;
}

main .products .item-info span {
  margin-top: 1em;
  color: #7a7a7a;
}

main .products .item-info span i {
  margin-right: 6px;
}

main .products .item-info p {
  margin-top: 10px;
}

main .item-ads {
  margin-top: 3em;
}

main .item-ads p {
  border: 1px solid #7a7a7a;
  padding: 15px;
  margin-top: 2em;
}

main .item-ads p.ads {
  padding: 0px !important;
  margin-top: 5em;
  border: 0px;
}

main .comment-fb {
  margin-top: 6em;
}

main .comment-fb .comment-top span.label {
  font-size: 14px;
  padding: 5px;
  margin-left: 10px;
  background-color: #4267b2;
  font-weight: 400;
}

main .comment-fb .comment-top a {
  margin-left: 10px;
  border: 0.3px solid #dddddd;
  padding: 5px  10px;
  color: red;
}

main .comment-fb .comment-top span.num {
  border: 0.3px solid #dddddd;
  padding: 5px  5px;
  margin-left: 7px;
}

main .comment-fb .comment-top span.num::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d9";
  color: #dddddd;
  position: relative;
  left: -19px;
  font-size: 21px;
  top: 3px;
  border-top-left-radius: 100%;
}

main .comment-fb .comment-top .center-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .comment-fb .comment-top .center-comment h4 {
  font-size: 14px;
  margin-left: 1em;
  margin-top: 2em;
}

main .comment-fb .comment-top .center-comment h4.sx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .comment-fb .comment-top .center-comment h4.sx select {
  width: 50%;
  margin-left: 10px;
  margin-top: -8px;
  margin-right: 1.5em;
}

main .comment-fb .comment-noidung {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .comment-fb .comment-noidung .item1 {
  width: 9%;
  border: 1px solid #7a7a7a;
  height: 50px;
}

main .comment-fb .comment-noidung .item1 img {
  margin: 0 auto;
  width: 100%;
  height: 45px;
}

main .comment-fb .comment-noidung .item2 {
  margin-left: 10px;
  width: 84.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .comment-fb .comment-noidung .item2 input {
  margin: auto;
  height: 50px !important;
}

main .comment-fb .comment-bottom {
  margin-top: 1em;
}

main .comment-fb .comment-bottom span {
  color: #3b579d;
  font-size: 14px;
}

main .comment-fb .comment-bottom span i {
  margin-right: 0.5em;
}

footer {
  margin-top: 2em;
  background-color: #80b435;
  padding: 2em 0 2em 0;
}

footer ul {
  margin-top: 1em;
}

footer ul li {
  margin-top: 12px;
  list-style: none;
}

footer ul li span {
  color: white;
}

footer ul li h3 {
  color: white;
}

@media only screen and (max-width: 320px) {
  header .logo {
    width: 40%;
    height: auto;
  }
  header .navbar {
    margin-top: -3em;
  }
  header .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .top-main .dieuhuong {
    left: 2em;
    margin-top: 3em;
  }
  main .top-main .dieuhuong a {
    color: black;
    font-size: 13px;
  }
  main .top-main .dieuhuong span {
    font-size: 10px;
    color: black;
  }
  main .comment-fb .comment-top span.label {
    font-size: 10px;
  }
  main .comment-fb .center-comment h4 {
    font-size: 11px;
    margin-left: 1em;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 375px) {
  header .logo {
    width: 40%;
    height: auto;
  }
  header .navbar {
    margin-top: -3em;
  }
  header .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .top-main .dieuhuong {
    left: 2em;
    margin-top: 3em;
  }
  main .top-main .dieuhuong a {
    color: black;
    font-size: 13px;
  }
  main .top-main .dieuhuong span {
    font-size: 10px;
    color: black;
  }
  main .comment-fb .comment-top span.label {
    font-size: 10px;
  }
  main .comment-fb .center-comment h4 {
    font-size: 11px;
    margin-left: 1em;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 425px) {
  header .logo {
    width: 40%;
    height: auto;
  }
  header .navbar {
    margin-top: -3em;
  }
  header .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .top-main .dieuhuong {
    left: 2em;
    margin-top: 3em;
  }
  main .top-main .dieuhuong a {
    color: black;
    font-size: 13px;
  }
  main .top-main .dieuhuong span {
    font-size: 10px;
    color: black;
  }
  main .comment-fb .comment-top span.label {
    font-size: 12px;
  }
  main .comment-fb .center-comment h4 {
    font-size: 12px;
    margin-left: 1em;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 768px) {
  header .logo {
    width: 40%;
    height: auto;
  }
  header .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .comment-fb .comment-top .center-comment h4.sx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1.5em;
  }
}

@media only screen and (max-width: 1024px) {
  header .logo {
    width: 50%;
    height: auto;
  }
  header .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=category-news.css.map */